---
export interface Props {
  title?: string
}

const { title } = Astro.props

const pageTitle = `${title ? `${title} | ` : ''}OTOMOMIK`
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global></style>
